<div class="example-container">
    <h2> Bloquer/Débloquer Compte</h2>
    <div class="info-align">
        
        <div class="card">
           
           <h4> N° Compte : 123456789985121 </h4>
        </div>
    </div>
    <br>
    <div class="info-align">
        <div class="card">
           
            <h4> Balance : 100DH</h4>
        </div>
    </div>
    <br>
    <div class="info-align">
        <div class="card">
           
            <h4> Statut: Active</h4>
        </div>
    </div>
    <div>
        <button mat-raised-button>Bloquer le Compte</button>
    </div>
</div>
