.example-container{
    padding-top: 7%;
    background-color: white;
    vertical-align: middle;  
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;    
    border-radius: 10px;
    padding-bottom: 3%;
    text-align: center;
}
button{
    color: white;
    background-color:  rgb(187, 33, 33);
    display: inline-block;
     vertical-align: middle;
}
.info-align{
    color: grey;
    display: inline-block;
    vertical-align: middle;
    
}

h4{
    padding-left: 4px;
}
.card{
    display : flex;
    text-align: right;
}

h2{
    color :rgb(200, 200, 200); 
}