<div class="  d-flex flex-column align-items-center">
    <div class="card_image">
        <img class="img-responsive carte" src="../../../assets/card_empty.png">
  
    <div class="top-left">Oumaima  BARBACHE</div>
    <br>
    <div class="top-left1">12345687895222</div>
  
    <div class="bottom-right">Expiration</div>
    <div class="bottom-right1"> 12/2028</div>
    </div>
    <div class="align-btn">
      <button class="btn btn-danger">désactiver Carte</button>
      <button class="btn btn-danger">Activer Carte</button>
    </div>
</div>
  